<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-6 col-sm-3">
                    <div class="row align-items-center home-circle rounded-circle text-center mx-auto">
                        <div class="col">
                            <i class="fa fa-calendar-check fa-4x home-icon"></i>
                        </div>
                    </div>
                    <div class="home-phrase text-center lead mt-3 mx-auto px-2">
                        Document your events
                    </div>
                </div>
                <div class="col-6 col-sm-3 d-none d-sm-block">
                    <div class="row align-items-center home-circle rounded-circle text-center mx-auto">
                        <div class="col">
                            <i class="fa fa-pencil-alt fa-4x home-icon mb-1 ml-1"></i>
                        </div>
                    </div>
                    <div class="home-phrase text-center lead mt-3 mx-auto px-2">
                        Share your thoughts
                    </div>
                </div>
                <div class="col-6 col-sm-3 d-none d-sm-block">
                    <div class="row align-items-center home-circle rounded-circle text-center mx-auto">
                        <div class="col">
                            <i class="fa fa-grin-beam fa-4x home-icon"></i>
                        </div>
                    </div>
                    <div class="home-phrase text-center lead mt-3 mx-auto px-2">
                        Express your feelings
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="row align-items-center home-circle rounded-circle text-center mx-auto">
                        <div class="col">
                            <i class="fa fa-icons fa-4x home-icon"></i>
                        </div>
                    </div>
                    <div class="home-phrase text-center lead mt-3 mx-auto px-2">
                        Love your favorites
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container mt-3 mb-2">
        <app-quotes></app-quotes>
    </div>
</section>
