<div id="quote-section" class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center quote-block" *ngFor="let quote of quotes">
                <img
                    class="quote-image rounded-circle"
                    src="../../../assets/images/men/man-pp.jpg"
                    alt="">
                <div class="card quote-card">
                    <div class="card-header quote-header bg-transparent">
                        <button *ngIf="isUserAuth && userId === quote.authorId" class="close" type="button" data-toggle="dropdown">
                            ...
                        </button>
                        <div *ngIf="!isUserAuth || userId !== quote.authorId">
                            &nbsp;
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item pointer">Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pointer" (click)="deleteQuote(quote._id)">Delete</a>
                        </div>
                    </div>
                    <div class="card-body quote-body mx-1">
                        <h6 class="card-title"><i class="fa fa-quote-left"></i></h6>
                        <p class="card-text quote-text lead">
                            {{ quote.content }}
                        </p>
                        <h6 class="card-title mb-1"><i class="fa fa-quote-right"></i></h6>
                    </div>
                    <div class="card-footer quote-author bg-transparent">
                        <blockquote class="blockquote-footer text-right">
                            @{{ quote.signature }}
                        </blockquote>
                    </div>
                    <div class="card-footer quote-reacts text-left bg-transparent">
                        <i
                            class="far fa-heart fa-lg pointer ml-1 mr-2"
                            data-toggle="modal"
                            data-target="#love-modal"
                            (click)="fetchLovers(quote._id)"></i>
                        <i
                            class="far fa-comment fa-lg pointer ml-1"
                            data-toggle="modal"
                            data-target="#comment-modal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="love-modal" class="modal react-modal fade text-dark">
    <div class="modal-dialog">
        <div class="modal-content modal-content-1 bg-transparent">
            <div class="row align-items-center home-circle rounded-circle bg-light text-center mx-auto">
                <div class="col">
                    <i class="far fa-heart fa-3x home-icon"></i>
                </div>
            </div>
        </div>
        <div class="modal-content modal-content-2 bg-light">
            <div class="modal-header">
                <h5 *ngIf="lovers.length" class="modal-title lead ml-1">
                    {{ lovers.length }} Loves
                </h5>
                <h5 *ngIf="!lovers.length" class="modal-title lead ml-1">
                    1<sup>st</sup> Love?
                </h5>
            </div>
            <div class="modal-body pt-2 pb-1">
                <div class="list-container">
                    <div class="list-container-inner">
                        <ul class="list-group mb-2">
                            <li class="list-group-item bg-light" *ngFor="let lover of lovers">
                                <div class="ml-2 my-1 media d-flex align-items-center">
                                    <img class="react-image rounded-circle" src="../../../assets/images/men/man1.jpg">
                                    <div class="media-body">
                                        <blockquote class="blockquote-footer react-author mb-0">
                                            @{{ lover.username }}
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="row w-50 justify-content-center">
                    <button
                        *ngIf="!iscurrentQuoteLovedByUser"
                        type="submit"
                        class="btn btn-outline-secondary btn-block love-submit"
                        (click)="loveQuote(currentQuoteId)">
                            Love Quote
                    </button>
                    <button
                        *ngIf="iscurrentQuoteLovedByUser"
                        type="submit"
                        class="btn btn-outline-secondary btn-block love-submit"
                        (click)="unloveQuote(currentQuoteId)">
                            Unlove Quote
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="comment-modal" class="modal react-modal fade text-dark">
    <div class="modal-dialog">
        <div class="modal-content modal-content-1 bg-transparent">
            <div class="row align-items-center home-circle rounded-circle bg-light text-center mx-auto">
                <div class="col">
                    <i class="far fa-comment fa-3x home-icon"></i>
                </div>
            </div>
        </div>
        <div class="modal-content modal-content-2 bg-light">
            <div class="modal-header">
                <h5 class="modal-title lead ml-1">
                    4 Comments
                </h5>
            </div>
            <div class="modal-body pt-2 pb-1">
                <div class="list-container">
                    <div class="list-container-inner">
                        <ul class="list-group mb-2">
                            <li class="list-group-item bg-light">
                                <div class="ml-2 my-1 media d-flex align-items-center">
                                    <img class="react-image rounded-circle" src="../../../assets/images/men/man1.jpg">
                                    <div class="media-body">
                                        <blockquote class="blockquote-footer react-author mb-0">
                                            @ali-ahmed
                                        </blockquote>
                                        Let's have fun bro ;)
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Write your comment...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary comment-submit" type="button" data-dismiss="modal">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
