<header id="profile-section">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="text-center" *ngIf="profileInfo">
                <img class="profile-image rounded-circle" src="../../../assets/images/men/man-pp.jpg">
                <h1 class="mt-2 text-white display-4 profile-fullname mb-1">
                    {{ profileInfo.firstname }} <strong>{{ profileInfo.lastname }}</strong>
                </h1>
                <span class="blockquote-footer profile-username mb-2">
                    @{{ profileInfo.username }}
                </span>
                <div class="mt-3">
                    <button (click)="viewQuotesSection()" class="btn profile-button text-button" [class.profile-button-active]="viewQuotes">View Quotes</button>
                    <button (click)="viewFriendsSection()" class="btn profile-button text-button ml-2" [class.profile-button-active]="!viewQuotes">View Friends</button>
                    <button *ngIf="isUserAuth" class="btn profile-button ml-2" type="button" data-toggle="dropdown">
                        <div class="menu-line rounded"></div>
                        <div class="menu-line rounded"></div>
                        <div class="menu-line rounded"></div>
                    </button>
                    <div class="dropdown-menu">
                        <a data-toggle="modal" data-target="#quote-modal" class="dropdown-item pointer">Add Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container mt-3 mb-2" *ngIf="profileInfo">
    <div *ngIf="viewQuotes">
        <app-quotes></app-quotes>
    </div>
    <div *ngIf="!viewQuotes">
        <app-friends></app-friends>
    </div>
</section>

<div id="quote-modal" class="modal fade text-dark">
    <div class="modal-dialog">
        <div class="modal-content modal-content-1 bg-transparent">
            <img class="profile-image rounded-circle border border-light mx-auto" src="../../../assets/images/men/man-pp.jpg">
        </div>
        <div class="modal-content modal-content-2 bg-light">
            <div class="modal-header">
                <h5 class="modal-title lead ml-1">What's new?</h5>
            </div>
            <form [formGroup]="newQuoteForm">
                <div class="modal-body pt-2 pb-1">
                    <!-- <div class="alert alert-danger text-center">
                        Quote through 128 characters!
                    </div> -->
                    <div class="card bg-light">
                        <div class="card-body text-center p-2">
                            <h6 class="card-title mb-1"><i class="fa fa-quote-left"></i></h6>
                            <div class="form-group">
                                <textarea
                                    formControlName="newQuote"
                                    type="text"
                                    class="form-control bg-light lead"
                                    placeholder="Write your quote..."
                                    rows="3"></textarea>
                            </div>
                            <h6 class="card-title mb-2"><i class="fa fa-quote-right"></i></h6>
                        </div>
                        <div class="card-footer bg-light">
                            <blockquote class="blockquote-footer text-right mb-2">
                                @{{ username }}
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="w-50 justify-content-center">
                        <button
                            type="submit"
                            id="submitModal"
                            data-dismiss="modal"
                            (click)="addQuote(newQuote)"
                            class="btn btn-outline-secondary btn-block quote-submit"
                            [disabled]="newQuoteForm.invalid">
                                Quote
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
