#profile-section {
    margin: 0;
    background-color: rgb(11, 6, 22);
    display: block;
    min-height: 345px;
}

#profile-section .home-inner {
    padding-top: 88px;
}

#profile-section .profile-image {
    width: 100px;
    height: 100px;
    border: white 3px solid;
}

#profile-section .profile-fullname {
    font-size: 1.6rem;
}

#profile-section .profile-username {
    font-size: 1.08rem;
}

#profile-section .profile-button {
    border-color: rgb(78, 10, 114) !important;
    color: rgb(78, 10, 114) !important;
    background-color: transparent;
    font-weight: 400;
}

#profile-section .text-button {
    padding: 7px 24px;
}

#profile-section .profile-button:hover,
#profile-section .profile-button-active {
    border-color: rgb(78, 10, 114) !important;
    background-color: rgb(78, 10, 114) !important;
    color: rgb(212, 194, 194) !important;
    font-weight: 400;
    outline: none;
    box-shadow: none;
}

#profile-section .menu-line {
    width: 26px;
    height: 2px;
    margin: 5px 0;
    background-color: rgb(212, 194, 194);
}

#quote-modal .modal-dialog {
    max-width: 350px !important;
    margin-left: auto;
    margin-right: auto;
}

#quote-modal .profile-image {
    width: 90px;
    height: 90px;
    border-width: 3px !important;
}

#quote-modal .modal-header {
    padding-top: 36px;
    padding-bottom: 10px;
}

#quote-modal .card,
#quote-modal .card-footer {
    border: none;
}

#quote-modal .blockquote-footer {
    font-size: 1rem;
}

#quote-modal .quote-submit:hover:enabled,
#quote-modal .quote-submit:focus:enabled {
    background-color: rgb(57, 11, 82);
    border-color: rgb(78, 10, 114);
    color: #fff;
}

#quote-modal textarea,
#quote-modal textarea:focus {
    font-weight: 400;
    resize: none;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    overflow: hidden;
}
